<a href="https://colab.research.google.com/github/obidjonqunduzov/data-science/blob/main/2_2_Series_lugat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
cars_info = {'mers':40000, 'opel':25000, 'bmw':45000, 'honda':30000}
pd.Series(cars_info) # yaratgan lu'gatimizni tartibli ko'rinishda chiqarib beradi

mers     40000
opel     25000
bmw      45000
honda    30000
dtype: int64

In [18]:
cars_info = pd.Series({'mers':40000, 'opel':25000, 'BMW':45000, 'honda':30000})
cars_info

mers     40000
opel     25000
BMW      45000
honda    30000
dtype: int64

In [8]:
'mers' in  cars_info # agar ush bu avtomobil lu'gatda bo'lsa True qaytaradi

True

In [9]:
'ford' in cars_info # agar lu'gatimizda bu avtomobil bo'lmasa False qaytaradi

False

In [10]:
cars_info['mers'] # ushbu avtomobilning narxini qaytaradi

40000

In [20]:
models = ['jaguar','tayota','opel','mers','ford','tesla','BMW'] # yangi ro'yxat yaratib olamiz

In [19]:
cars_info

mers     40000
opel     25000
BMW      45000
honda    30000
dtype: int64

In [21]:
cars_info_2 = pd.Series(cars_info, index = models) # bunda indexda mavjud bo'lmagan avtomobillarga NaN(mavjud emas) qaytaradi
cars_info_2 # birinchi ro'yxat bilan ikkinchi royxatdagi bir xil avtomobillarni narxi bilan yo'qlarini esa NaN qaytaradi

jaguar        NaN
tayota        NaN
opel      25000.0
mers      40000.0
ford          NaN
tesla         NaN
BMW       45000.0
dtype: float64