<a href="https://colab.research.google.com/github/obidjonqunduzov/data-science/blob/main/2_2_Series_lugat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
cars_info = {'mers':40000, 'opel':25000, 'bmw':45000, 'honda':30000}
pd.Series(cars_info) # yaratgan lu'gatimizni tartibli ko'rinishda chiqarib beradi

mers     40000
opel     25000
bmw      45000
honda    30000
dtype: int64

In [ ]:
cars_info = pd.Series({'mers':40000, 'opel':25000, 'BMW':45000, 'honda':30000})
cars_info

mers     40000
opel     25000
BMW      45000
honda    30000
dtype: int64

In [ ]:
'mers' in  cars_info # agar ush bu avtomobil lu'gatda bo'lsa True qaytaradi

True

In [ ]:
'ford' in cars_info # agar lu'gatimizda bu avtomobil bo'lmasa False qaytaradi

False

In [ ]:
cars_info['mers'] # ushbu avtomobilning narxini qaytaradi

40000

In [ ]:
models = ['jaguar','tayota','opel','mers','ford','tesla','BMW'] # yangi ro'yxat yaratib olamiz

In [ ]:
cars_info

mers     40000
opel     25000
BMW      45000
honda    30000
dtype: int64

In [ ]:
cars_info_2 = pd.Series(cars_info, index = models) # bunda indexda mavjud bo'lmagan avtomobillarga NaN(mavjud emas) qaytaradi
cars_info_2 # birinchi ro'yxat bilan ikkinchi royxatdagi bir xil avtomobillarni narxi bilan yo'qlarini esa NaN qaytaradi

jaguar        NaN
tayota        NaN
opel      25000.0
mers      40000.0
ford          NaN
tesla         NaN
BMW       45000.0
dtype: float64

In [ ]:
cars_info_2['mazda'] = 47000 # bu usul orqali yangi avtomobil qo'shamiz
cars_info_2

jaguar        NaN
tayota        NaN
opel      25000.0
mers      40000.0
ford          NaN
tesla         NaN
BMW       45000.0
mazda     47000.0
dtype: float64

In [ ]:
cars_info + cars_info_2 # bu usul ikkala ro'yxatda bor bo'lgan avtomobillarni narxini bir-biriga qoshadi

BMW       90000.0
ford          NaN
honda         NaN
jaguar        NaN
mazda         NaN
mers      80000.0
opel      50000.0
tayota        NaN
tesla         NaN
dtype: float64

In [ ]:
cars_info_2.notnull() # qiymatga ega avtomobillarni True , agar qiymatlari yo'q bo'lsa False qaytaradi

jaguar    False
tayota    False
opel       True
mers       True
ford      False
tesla     False
BMW        True
mazda      True
dtype: bool

In [ ]:
cars_info_2.isnull() # aksincha qiymati yoqlarni True qaytaradi

jaguar     True
tayota     True
opel      False
mers      False
ford       True
tesla      True
BMW       False
mazda     False
dtype: bool

In [ ]:
cars_info_2.name = ('Avtosalon')

In [ ]:
cars_info_2.index.name = 'Models'

In [ ]:
cars_info_2

Models
jaguar        NaN
tayota        NaN
opel      25000.0
mers      40000.0
ford          NaN
tesla         NaN
BMW       45000.0
mazda     47000.0
Name: Avtosalon, dtype: float64

In [ ]:
cars_info.values # faqat qiymatlarini qaytaradi

array([40000, 25000, 45000, 30000])

In [ ]:
cars_info_2.iloc[2] # ma'limotlarga index tartib raqami bo'yicha murojiat qilish

25000.0

In [ ]:
cars_info_2.loc['ford'] # ma'lumotlarga index bo'yicha murojiat qilish

nan

In [ ]:
cars_info_2['mers'] # ikkinchi usuli

40000.0

In [ ]:
cars_info

mers     40000
opel     25000
BMW      45000
honda    30000
dtype: int64

In [ ]:
cars_info.max() # ro'yxat ichidagi eng katta qiymatni qaytaradi

45000

In [ ]:
cars_info.min() # ro'yxat ichidagi eng kichik qiymatni qaytaradi

25000

In [ ]:
cars_info.mean() # hamma qiymatni qoshib va ularning soniga bo'lib umumiy ro'yxatning o'rtacha qiymatini qaytaradi

35000.0